version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: debook
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"

  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  api-service:
    build: ./api-service
    command: npm run start:dev
    depends_on:
      - postgres
      - kafka
    ports:
      - "3000:3000"

  notification-service:
    build: ./notification-service
    command: npm run start
    depends_on:
      - kafka
